.confetti-container {
    perspective: 700px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.confetti {
    position: absolute;
    z-index: 0;
    top: -10px;
    border-radius: 0
}

.confetti--animation-slow {
    animation: confetti-slow 20.25s linear 1 forwards
}

.confetti--animation-medium {
    animation: confetti-slow 2.75s linear 1 forwards
}

.confetti--animation-fast {
    animation: confetti-slow 1.25s linear 1 forwards
}

@keyframes confetti-slow {
    0% {
        transform: translate3d(0,0,0) rotateX(0) rotateY(0)
    }

    100% {
        transform: translate3d(120px,105vh,0) rotateX(360deg) rotateY(180deg)
    }
}

body{
    margin : 0;
    font-family: Open Sans,sans-serif;
}

.header{
    color: #FFF;
    background-color : #178abb;
    font-size : 14px;
    text-align: center;
    padding : 10px;
}

.productsList{
    display: block;
    padding: 0 25px;
}

.products img{
    width: 400px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #178abb;
}

.productData{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.products{
    display: flex;
    flex-wrap: wrap;
}

.productsList h3{
    color : #178abb;
}

.productBox{
    border : 2px solid #178abb;
    border-radius: 10px;
    width: 400px;
    margin : 0 25px 25px 0;
    display: flex;
    flex-direction: column;
}

.buyButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #178abb;
    color : white;
    font-size: 12px;
    width: 60px;
    height: fit-content;
    padding: 10px 0;
    cursor: pointer;
}